@charset "UTF-8";
@font-face {
    font-family: 'droid';
    src: url(fontes/idroid.otf);
    font-weight: normal;
    font-style: normal;
}

:root{

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #dddab9;
}


img{
    width: 100%;
}

a{

    text-decoration: none;
    color: var(--cor4);
    font-weight: 600;
}

h1{
    font-family: 'Bebas Neue';
    color: white;
    font-size: 52px;
    font-weight: 300;
    text-shadow: black;
}   

h2{
    color: white;
    font-size: 1.3em;
    font-weight: 200;
    text-shadow: black;
    
}   

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 25px;
    font-size: 1em;
}

main a{
    background-color: var(--cor1);
    font-weight: bold;
    padding: 2px 6px;
}

.cabecalho_sec{
    background-image: linear-gradient(to bottom, #3cd681, #31b16b, #278d55, #1e6b41, #154b2d);
    width: 100%;
    padding-top: 70px;
}

.cabecalho_text{
    padding-bottom: 70px;
}

.cabecalho_menu{
    padding: 10px;
}

.cabecalho_menu a{
    color: white;
    padding: 10px;
    transition-duration: 0.5s;
    
}

.cabecalho_menu a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
    border-radius: 5px 5px 0px 0px;
}

h2.alinha{
    margin: 0 auto;
    width: 40%;
}

.cabecalho_menu a:hover{
    background-color: var(--cor2);
}

.alinha{
    text-align: center;
    padding-bottom: 10px;
}

.article_sec{
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

.article_title{
    font-family: 'droid';
    font-size: 48px;
    color: var(--cor4);
}

.article_sub_title{
    font-family: 'droid';
    font-size: 30px;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding-left: 10px;
    
}

div.video{
    padding: 20px;
    background-color: var(--cor4);
    position: relative;
    padding-bottom: 55%;
   
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.article_sec_curiosidades{
    margin: auto;
    max-width: 720px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.137);
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    padding-left: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bugdroid_image{
    margin: auto;
    width: auto;
}



/*
.title_curiosidades{
    margin: auto;
    max-width: 720px;
    background-color: var(--cor4);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
}
*/
.container_curiosidades{

    padding: 5px;

}
.container_listas{
    width: 100%;
    font-weight: 700;
    columns: 2;
}

.container_listas li{
    list-style-position: inside;
}

.rodape{
    text-align: center;
    background-color: var(--cor4);
    font-family: 'Bebas Neue';
    font-size: 14px;
    padding: 5px; 
}

@media (max-width: 576px){
    h1{
        font-size: 38px;
        text-shadow: black;
    } 

    .article_sec{
        width: 92%;
    }

    h2.alinha{
        width: 62%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .article_title{
        font-size: 30px;
    }

    .article_sub_title{
        font-size: 24px;
    }

    .container_listas{
        columns: 1;
    }
}
